<form action="/songs/<%=@song.slug%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <input type="text" placeholder="Song Name" name="song[name]" id="name" value="<%= @song.name%>"> </br>
  <input type="text" placeholder="Artist Name" name="artist[name]" id="artist_name" value="<%= @song.artist.name%>"> </br>
  <label> Genres </label>
  <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" id="<%= genre.name %>" value="<%= genre.id %>" <% 'checked' if @song.genre.include?(genre)%>>
  <% end %>
  <input type="submit" value="Create">
</form>
